
body {
    font-family: Arial, sans-serif;
    background-image:url("IMG-20221023-WA0036.jpg");
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
     background-color:none;
    padding: 20px;


    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form_group{
    position :relative;
}
.form_group input[type="email"],
.form_group input[type="password"] {
    width :100%;
     padding:10px;
     border-bottom:4px  solid #fff;
     background:none;
     border-top:none;
     border-left:none;
     border-right:none;
}

.form_group input[type="email"],
.form_group input[type="password"] :hover{
    transition:0.2s 
}

.form_group label 
{
    position: relative;
    top:-20px;

    transition: 0.2s ease all;
    border:none;

    pointer-events: none;
}

.form_group input:not(:placeholder-shown) ~ label
{
    top:-23px;
    left: 10px;
    font-size: 15px;
    color: #ff006a;
}

.form_group input:not(:placeholder-shown) ~ label:hover
{
background-color:blue;

}

.form_group i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #0f0101;
}

p {
    text-align: center;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #80b3ee;
    
    border-radius:15px;

    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

